@model IEnumerable<WebApplication3.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>



<div class="row row-cols-auto row-cols-md-3 g-60">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card h-100">

                <div class="card-img-top">
                    <img class="card-img" src="@Html.DisplayFor(modeItem => item.ItemImage)">
                </div>

                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.ItemName)</h5>
                    <p class="card-text">Category: @Html.DisplayFor(modeItem => item.Category.CategoryName)</p>
                    <p class="card-text">Description: @Html.DisplayFor(modeItem => item.ItemDescription)</p>
                    <p class="card-text">Cost: @Html.DisplayFor(modeItem => item.ItemCost)</p>

                    <a href="#" class="btn btn-primary">View Iten Detail</a>
                </div>

            </div>
        </div>
    }
</div>


